/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(4px);
  }
}

@keyframes button-hover {
  to {
    transform: translateY(0);
  }
}

.card__icon-button {
  padding: 0;
  block-size: 38px;
  background-color: inherit;
  border: 2px solid transparent;
  transition: border-color var(--animation-time) ease;
  cursor: pointer;
  appearance: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: 2px solid var(--text-color);
}

.main-body {
  fill: transparent;
  transition: fill linear var(--animation-time);
}

.core {
  fill: transparent;
  transition: fill linear var(--animation-time) 0.03s;
}

.sparks {
  fill: transparent;
}

.contour {
  fill: var(--favicon-color);
  transition: fill linear 0.1s;
}

/* hover */

.card__icon-button:hover .core {
  fill: var(--heart-contour);
  transition: fill linear var(--animation-time);
}

.card__icon-button:hover .main-body {
  fill: var(--heart-contour);
  transition: fill linear var(--animation-time) 0.05s;
}

/* active */

.card__icon-button:active .core {
  fill: var(--heart-color);
  transition: fill linear var(--animation-time);
}

.card__icon-button:active .main-body {
  fill: var(--heart-color);
  transition: fill linear var(--animation-time) 0.05s;
}

/* .like-icon.is-liked */

/* .like-icon {
  animation: ease-in var(--animation-time) 0.1s beatend;
} */

.like-icon.is-liked {
  animation: ease-in var(--animation-time) 0.1s alternate beat;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: fill linear var(--animation-time);
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill linear var(--animation-time) 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill linear var(--animation-time) 0.06s;
}

.like-icon.is-liked .sparks {
  animation: 1 ease-in var(--animation-time) 0.3s alternate sparks;
}

@keyframes beat {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

@keyframes beatend {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

@keyframes sparks {
  from {
    fill: transparent;
  }
  to {
    fill: var(--heart-color);
  }
}

@keyframes modal {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}